/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-lug-2015, 14.26.58
    Author     : Matteo
*/


#registrazione{
    height:100%;
    margin-top:5%;
    width:25%;
    float:right;
    margin-right: 1%;
    
}

body{
    background-image: url(pullman.jpg);
    background-size: cover;
}

#navbar-main{
    margin-left:80%;
}

a{
   font-size: 22px;
}

#navbar{
    background-image: none;
    background-color: #01154b;
}

#signup{
    position: relative;
    left:1%;
}