/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-lug-2015, 10.55.13
    Author     : Matteo
*/
body{
    background-image: url(../images/pullman.jpg);
    background-size: cover;
}
#tab-container{
   position:absolute;
   top:16%;
   left:33%;
   width:35%;
    background-color: white;
    border-radius: 10px;
   padding-bottom: 7px;
   padding-left:7px;
   padding-top:5px;
    border: 5px solid #01154b;
}
#menu{
    
    font-size:25px;
   
    opacity: 0.9;
}

#contenuto{
    position:relative;
    top:20%;
    width:80%;
    left:10%;
}
h3 {
    text-align: center;
}

#err-acq{
    position:absolute;
    top:10%;
    left:75%;
}