
body{
   background-image: url(../images/pullman.jpg);
   background-size: cover;   
}

textarea{
    resize: none;
}

#input-bacheca{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

#bacheca{
    margin-top:50px;
    margin-left: 400px;
    margin-right: 400px;
}

.notizia{
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    padding:15px;
    padding-top: 3px;
    border-radius: 15px;
    border: 3px solid #01154b;
}

h6{
    color: #c77405;
}

.mess{
    position:absolute;
    float: right;
    top:10%;
    right:3%;
}
