/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-lug-2015, 10.53.17
    Author     : B I G
*/

body{
   background-image: url(../images/pullman.jpg);
   background-size: cover;   
}

.jumbotron{
    position: relative;
    opacity: 0.9;
    display: inline-block;
    width: 40%;
    left: 30%;
    margin-top: 150px;
    border-radius: 30px;
    padding: 40px;
    border: 5px solid #01154b;
    height: 350px;
}

#slogan{
    font-size: 30px;
}

#acquista{
    float: left;
    margin-left: 50px;
}

#visualizza{
    float: right;
    margin-right: 50px;
}

#benvenuto{
    margin-top: 100px;
    text-align: center;
}

#benvenuto>span{
    font-size: 40px;
    color: #01154b;
}

#ok-reg{
    position:absolute;
    top:10%;
    left:69%;
}

#err-reg{
    position:absolute;
    top:10%;
    left:69%;
}

#err-mail{
    position:absolute;
    top:10%;
    left:75%;
}

#err-pass{
    position: absolute;
    top:5%;
    left:74%;
}